<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<!-- 
		错误的做法
		这样可以得到工厂类对象（新建立了一个工厂），但是需要自己再调用工厂方法 
	<bean id="musicBox" class="com.zyw.demo4.MusicBoxFactory"/>-->
			
	<!--静态工厂，是通过一个工厂来进行生产，只需要调用静态方法 
		明显的区别：上面每次得到的是 工厂对象
		下面每次得到的是产品对象（默认调用了createMusicBox 并返回产品 ）
	-->		
	<bean id="musicBox" class="com.lsx.demo.MusicBoxFactory"
		 factory-method="createMusicBox"/>		
			
	
	<!-- 实例化SomeFactory -->
	<bean id="someFactory" class="com.lsx.demo.SomeFactory"/>
	<!-- 在获取some实例的时候采用someFactory实例的工厂方法 -->
	<bean id="some" factory-bean="someFactory" factory-method="createInstance"/>
</beans>


